<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="'theme-color'" content="#000000">
    <meta name="description" content="About Us">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='css/aboutus.css') }}">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='css/index.css') }}">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='css/font.css') }}">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='css/style.css') }}">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='css/components.css') }}">
</head>
<body>
    <div class="about-us">
        <div class="columngeminige-1">
            <header class="headergeminigen">
                <div class="headergeminigen-2">
                    
                    <a href="{{url_for('homepage')}}" class="geminigenerate">
                        <img src="{{ url_for('static', filename='images/logo-1.png') }}" alt="Geinigerate" class="geminigenerate">
                        
                        </a>
                    <div class="rowadopt">
                        <ul class ="rowaboutus">
                            <li>
                                <a href="{{url_for('adopt')}}">
                                    <h4 class="ui heading size-headingxs">Adopt</h4>
                                </a>
                            </li>
                            <li>
                                <a href="{{url_for('aboutus')}}">
                                    <h4 class = "ui heading size-headingxs">About Us</h4>
                                </a>
                            </li>
                            <li >
                                <a href="{{url_for('contact')}}">
                                    <h4 class = "ui heading size-headingxs">Contact Us</h4>
                                </a>
                            </li>
                            <li>
                                <a href="{{url_for('adoptionprocess')}}">
                                    <h4 class = "ui heading size-headingxs">Adoption Process</h4>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>

                <div class="row">
                    <div class="rowaboutus_one container-xs">
                        <h1 class="aboutus_one ui heading size-heading2xl">About Us</h1>
                    </div>
                </div>
                <div class = "stackistockphot">
                    <div class="columnistockpho">
                        <img src="./static/images/dog inside-1.png" alt = 'Istockphoto143'  class = "istockphoto143">
                    </div>
                    <div class ="rowplaceholder">
                        <h3 class = "placeholder ui heading size-headings">
                            Welcome to Pet Adoption , your trusted partner in 
                            finding forever homes for cats and dogs in need.  

                            We believe every pet deserves love, care, and a safe 
                            environment to thrive. Since our founding, we've been 
                            dedicated to bridging the gap between loving families and 
                            pets looking for a second chance at happiness. 
                        </h3>
                        <img src="./static/images/cat peeking_processed 1.png"  alt="Geminigenerate" class="geminigenerate-1">
                    </div>
                    <h3 class="placeholder_one ui heading size-headings">
                        Our mission is simple, we work tirelessly to rescue abandoned,
                        neglected, and stray cats and dogs.By showcasing adoptable pets,
                        we aim to give these amazing animals the opportunity to 
                        become cherished family members.  
                    </h3>
                </div>
                

                <footer class="footer">
                    <div class="stackphone-1">
                        <div class="column_one">
                            <img src="{{ url_for('static', filename='images/Rectangle_5.png') }}" alt="Image-1" class="image-1">
                            <img src="{{ url_for('static', filename='images/Rectangle_6.png') }}" alt="Image" class="image">
                        </div>
                        <div class="columnphone-1">
                            <h1 class="phone-1 ui heading size-headinglg">Phone</h1>
                            <p class = "phoneline ui text size-textxs">555-123-4567</p>
                        </div>
                        <div class="flex-col-end-center columnmondayfri">
                            <h1 class="mondayfriday-1 ui heading size-headinglg">Monday to Friday</h1>
                            <p class = "time ui text size-textxs">8:00am to 10:00pm</p>
                            <h1 class="weekday ui heading size-headinglg">Saturday & Sunday</h1>
                            <p class = "time ui text size-textxs">11:00am to 4:00pm</p>
                            <h1 class="email ui heading size-headinglg">Email</h1>
                            <p class = "time ui text size-textxs">nfo@columbuspethelp.com</p>
                        </div>
                        
                        <img src="{{ url_for('static', filename='images/a paw_processed 1.png') }}" alt="Apawprocessed" class="apawprocessed-1">
                        <div class="rowgeminigenera-1">
                            
                            <img src="{{ url_for('static', filename='images/cat-and-dog-image-footer.png') }}" alt="Geinigerate" class="geminigenerate-3">
                        </div>
                        <h1 class="address ui heading size-headinglg">Address</h1>    
                        <p class = "addressline-1 ui text size-textxs">123 Petes St,Columbus,<br>Georgia</p>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>