<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adoption Process</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="'theme-color'" content="#000000">
    <meta name="description" content="About Us">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='css/adoptionprocess.css') }}">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='css/index.css') }}">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='css/font.css') }}">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='css/style.css') }}">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='css/components.css') }}">
</head>
<body>
    <div class="about-us">
        <div class="columngeminige-1">
            <header class="headergeminigen">
                <div class="headergeminigen-2">
                    
                    <a href="{{url_for('homepage')}}" class="geminigenerate">
                        <img src="{{ url_for('static', filename='images/logo-1.png') }}" alt="Geinigerate" class="geminigenerate">
                        
                        </a>
                    <div class="rowadopt">
                        <ul class ="rowaboutus">
                            <li>
                                <a href="{{url_for('adopt')}}">
                                    <h4 class="ui heading size-headingxs">Adopt</h4>
                                </a>
                            </li>
                            <li>
                                <a href="{{url_for('aboutus')}}">
                                    <h4 class = "ui heading size-headingxs">About Us</h4>
                                </a>
                            </li>
                            <li >
                                <a href="{{url_for('contact')}}">
                                    <h4 class = "ui heading size-headingxs">Contact Us</h4>
                                </a>
                            </li>
                            <li>
                                <a href="{{url_for('adoptionprocess')}}">
                                    <h4 class = "ui heading size-headingxs">Adoption Process</h4>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>


            <div class="columnapawproce-3">
                <div class="column-1">
                    <div class="row-4">
                        <div class="rowadoption_one container-xs">
                            <div class="columnadoption">
                                <h1 class="adoption_one ui heading size-heading2xl">Adoption Process</h1>
                                <h3 class="timezone ui heading size-headingxs">
                                    A valid ID must be presented in order for the adoption process to be start.
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row_one-2">
                        <div>
                            <div class="rowdonate">
                                <div class="columnadopt_one">
                                    
                                    <button onclick="window.location.href='{{ url_for('adopt') }}'" class="donate-3 ui button blue_gray_500 size-md fill round">Adopt a pet</button>
                                    <button onclick="window.location.href='{{ url_for('donation') }}'" class="donate-3 ui button blue_gray_500 size-md fill round">Donate</button>
                                </div>
                                <div class="rowadoption_two">
                                    
                                    <h5 class="description-3 ui heading size-headings">
                                        The adoption process here at Columbus pet
                                         help is fairly easy and takes around 40 
                                         minutes to complete once started. Wait 
                                         times vary depending on the amount of 
                                         people attempting to adopt. We do 
                                         suggest getting to know the new pal you 
                                         are adopting to know if it is a good 
                                         match for both adopter and animal.
                                    </h5>
                                </div>
                            </div>
                            <center><h4 class="adoption_two ui heading size-headinglg" >Adoption Process</h4></center>
                            <div class="columnadoption" style="margin-top: 5%;margin-bottom: 5%;">
                                <img src="./static/images/a one_processed 1.png" alt="Anoeprocessed" class="aoneprocessed">
                                <h6 class="description-4 ui heading size-headingxs container-xs">
                                    Once you find an animal that meets your 
                                    criteria, you are able to start the adoption
                                     process. Our team of employees can help 
                                     determine if you two are a good match then
                                      you can move onto the next step.
                                </h6>
                                <img src="./static/images/a two_processed 1.png" alt="Atwo" class="atwoprocessed">
                                <h6 class="description-4 ui heading size-headingxs container-xs">
                                    Through paperwork (in person) or the online 
                                    adoption forms you may complete the 
                                    application for your hopefully soon to be 
                                    furry pal. For online applications go to your
                                    pals picture and then click the adopt me 
                                    button. Once that is done, somebody from 
                                    our team will ask you questions regarding 
                                    the adoption to gain more information.
                                </h6>
                                <img src="./static/images/a three_processed 1.png" alt="Athree" class="athree_one">
                                <h6 class="description-4 ui heading size-headingxs container-xs">
                                    Once a match is made, the adoption will be 
                                    completed by getting your signature on the 
                                    paperwork provided when picking up your pal. 
                                    Please be sure to have proper equipment when 
                                    picking up your pal (carrier for cats, leash and 
                                    collar for dogs). To end the process a team member 
                                    will ensure that all medical information is gone 
                                    over before taking your furry pal home. Last but 
                                    not least, enjoy your new furry best friend!
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <footer class="footer">
                <div class="stackphone-1">
                    <div class="column_one">
                        <img src="{{ url_for('static', filename='images/Rectangle_5.png') }}" alt="Image-1" class="image-1">
                        <img src="{{ url_for('static', filename='images/Rectangle_6.png') }}" alt="Image" class="image">
                    </div>
                    <div class="columnphone-1">
                        <h1 class="phone-1 ui heading size-headinglg">Phone</h1>
                        <p class = "phoneline ui text size-textxs">555-123-4567</p>
                    </div>
                    <div class="flex-col-end-center columnmondayfri">
                        <h1 class="mondayfriday-1 ui heading size-headinglg">Monday to Friday</h1>
                        <p class = "time ui text size-textxs">8:00am to 10:00pm</p>
                        <h1 class="weekday ui heading size-headinglg">Saturday & Sunday</h1>
                        <p class = "time ui text size-textxs">11:00am to 4:00pm</p>
                        <h1 class="email ui heading size-headinglg">Email</h1>
                        <p class = "time ui text size-textxs">info@columbuspethelp.com</p>
                    </div>
                    
                    <img src="{{ url_for('static', filename='images/a paw_processed 1.png') }}" alt="Apawprocessed" class="apawprocessed-1">
                    <div class="rowgeminigenera-1">
                        
                        <img src="{{ url_for('static', filename='images/cat-and-dog-image-footer.png') }}" alt="Geinigerate" class="geminigenerate-3">
                    </div>
                    <h1 class="address ui heading size-headinglg">Address</h1>    
                    <p class = "addressline-1 ui text size-textxs">123 Petes St,Columbus,<br>Georgia</p>
                </div>
            </footer>
        </div>
    </div>
</div>
</body>
</html>